{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Call History</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Call ID</th>
                <th>Action</th>
                <th>Details</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
            <tr>
                <td>{{ log.call_id }}</td>
                <td>{{ log.action }}</td>
                <td>{{ log.details }}</td>
                <td>{{ log.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
